<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta author="Urban">
    <link rel="stylesheet" href="../static/login_style.css">
    <title>Login to do list</title>
</head>
<body>
    <div class="login" id="login_div">
        <h1>Login</h1>
        <form action="" method="post" class="form_login" id="login_form">
            <table>
                <tbody>
                    <tr>
                        <td>            
                            <label for="username">Username: </label>
                        </td>
                        <td>
                            <input type="text" id="username" name="username">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="password">Password:</label>
                        </td>
                        <td>
                            <input type="password" id="password" name="password">
                        </td>
                    </tr>
                </tbody>
            </table>
            <button type="submit" aria-label="button" class="login_button" id="loginformsubmit">Login</button>
        </form>
        <button type="button" aria-label="button" class="button_sing_up" id="button_sing">sing up</button>
    </div>
    <script src="../static/script_login.js"></script>
</body>
</html>